@keyframes hd_balls_ball_jumping {
	from {
		transform: scaleY(100%) translateY(-25%);
	}
	to {
		transform: scaleY(90%) translateY(10%);
	}
}

[hd_balls_ball_active] {
	animation: hd_balls_ball_jumping .25s infinite ease-in alternate-reverse;
}
