@keyframes gd_balls_ball_jumping {
	to {
		scale: 120%;
	}
}
/* 
[gd_balls_ball] {
	@starting-style {
		transform: scale3d(0, 0, 0);
	}
} */

[gd_balls_ball_state="active"] {
	animation: gd_balls_ball_jumping .25s infinite ease-out alternate-reverse;
}
