@keyframes hd_balls_score_show {
	from {
		transform: scale(200%);
	}
}

[hd_balls_score] {
	animation: hd_balls_score_show .25s ease-out;
}

html, body {
  overscroll-behavior-x: none;
  touch-action: none;
}
