@keyframes gd_balls_score_show {
	from {
		transform: scale(200%);
	}
}

[gd_balls_score] {
	animation: gd_balls_score_show .25s ease-out;
}

[gd_balls_board] {
	-webkit-user-select: none;
}

html, body {
  overscroll-behavior-x: none;
  touch-action: none;
}
